<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="response">{{ response }}</div>
<div class="token" id="token" hidden>{{ token }}</div>

<script>
    function set_token(){
        let token = document.getElementById('token').innerText;


        localStorage.setItem('token', JSON.stringify(token));
    }


    window.addEventListener('load', set_token)
</script>
</body>
</html>