<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="google-signin-client_id"
          content="968697474823-irc1afua92ergsnkg3cu1cs3p4sk4v1m.apps.googleusercontent.com">
</head>
<body>

<div id="my-signin"></div>
<hr>
<form method="POST" onsubmit="login();return false">
    {% csrf_token %}
    <label for="e-mail">Email: <input type="text" id="e-mail" placeholder="e-mail"></label>
    <br>
    <label for="password">Password: <input type="text" id="password" placeholder="Password"></label>
    <br>
    <button type="submit" onsubmit="login();return false">submit</button>
</form>
<div id="answer_container"><p id="answer"></p></div>

<script id="google">
    function onSuccess(googleUser) {
        let profile = googleUser.getBasicProfile()
        console.log(profile.getEmail())
        let token = googleUser.getAuthResponse().id_token
        console.log(googleUser.getAuthResponse().id_token)

        fetch('http://localhost:8000/api/v1/sign-in/google/', {
            method: 'POST',
            headers: {'Content-type': 'application/json;charset=UTF-8'},
            body: JSON.stringify({
                email: profile.getEmail(),
                token: token,
            })
        })
            .then((res) => {
                res = res.json()
                return res
            })
            .then((data) => {
                document.getElementById('answer').innerText = data.data
                if (data.user_id){
                    console.log(data.user_id)
                }
                if (data.access_token){
                    localStorage.setItem('token', JSON.stringify(data.access_token))
                    window.location.replace({% url 'profile-me' %})
                }
            })
    }

    function onFailure(error) {
        console.log(error)
    }

    function renderButton() {
        gapi.signin2.render('my-signin', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
        });
    }
</script>

<script id="base_auth">

    function login() {
        let email = document.getElementById('e-mail').value
        let password = document.getElementById('password').value

        fetch('http://localhost:8000/api/v1/sign-in/', {
            method: 'POST',
            headers: {'Content-type': 'application/json;charset=UTF-8'},
            body: JSON.stringify({
                email: email,
                password: password,
            })
        })
            .then((res) => {
                res = res.json()
                return res
            })
            .then((data) => {
                document.getElementById('answer').innerText = data.data
                if (data.user_id){
                    console.log(data.user_id)
                }
                if (data.access_token){
                    localStorage.setItem('token', JSON.stringify(data.access_token))
                    window.location.replace({% url 'profile-me' %})
                }
            })
    }
</script>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>